<div class="container">
  <br><br>
    <div class="row" >
        <div class="col-sm-3" >
          <div class="card" style="background-color:saddlebrown;">
            <div class="card-body" >
              <h5 style="color: wheat;" class="card-title">User Management</h5>
              <p class="card-text"><img src="../assets/employee.webp" height="60px" width="120px"></p>
              <p>To register a new user on the portal and generate a new account for an admin or an employee. </p><br>
              <a href="/create-user" class="btn btn-success">USER</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="background-color:rgb(75, 62, 52);">
            <div class="card-body" style="color: rgb(248, 243, 240);">
              <h5 style="color: wheat;" class="card-title">Bug Management</h5>
              <p class="card-text"><img src="../assets/BUG.webp" height="60px" width="120px"></p>
              <p>Track of all the Software Bugs and Tasks reported in the software development projects.</p><br>

              <a href="/list-bug" class="btn btn-success">BUG</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="card" style="background-color:rgb(201, 137, 91);">
            <div class="card-body">
              <h5 style="color: wheat;" class="card-title">Employee Management</h5>
              <p class="card-text"><img src="../assets/employee-logo.webp" height="60px" width="120px"></p>
              <p>Record and  management of all the Employees in the organization.</p><br>
              <a href="/list-employee" class="btn btn-success">Employee</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card" style="background-color:rgb(150, 121, 101);">
            <div class="card-body">
              <h5 style="color: wheat;" class="card-title">Project Management</h5>
              <p class="card-text"><img src="../assets/project-logo.png" height="80px" width="120px"></p>
              <p>Record and  management of all the Projects in the organization.</p><br>
              <a href="/list-project" class="btn btn-success">Project</a>
            </div>
          </div>
        </div>
        <br><br>
      </div>
      <br><br>
    </div>